#### 1. “Else” condition inside a “for” loop

In [1]:
numbers = [2,4,6,8,1,5,6]

for number in numbers:
    if number % 2 ==1:
        print(number)
        break
else:
    print("No odd numbers")

1

#### 2. Get elements from a list using named variables

In [16]:
my_list = [1, 2, 3, 4, 5]
one, two, three, four, five = my_list
print(one,two)

1 2

#### 3. Get n largest or n smallest elements in a list using the module heapq

In [17]:
import heapq 

scores = [53,56,89,365,52,42,68,98]

print(heapq.nlargest(3,scores))
print(heapq.nsmallest(4,scores))

[365, 98, 89]
[42, 52, 53, 56]

### 4. Pass values from a list as method arguments
 
 we can extract all element of a list using "*"

In [18]:
list = [1,2,3,5,6,5]

print(list)
print(*list)

def sum_of_numbers(*list):
    total=0
    for i in list:
        total+=i
        
    return total

print(sum_of_numbers(*list))

[1, 2, 3, 5, 6, 5]
1 2 3 5 6 5
22

#### 5. Get all the elements in the middle of the list

In [19]:
_, *elements_in_middle, _ = [1,2,3,4,5,6,7,8,9]

print(elements_in_middle)

[2, 3, 4, 5, 6, 7, 8]

#### 6. Assign multiple variable in just one line

In [20]:
a,b,c,d=1,2,3,4
print(a,b,c,d)

1 2 3 4

#### 7. List comprehensions
    You can use comprehension to loop through a list with one line of code
    
    Comprehensions are not just limited to working with lists. You can also use them with dictionaries, sets, and generators as well.

In [21]:
numbers  = [1,2,3,4,5]
squared_numbers = [num * num for num in numbers]

print(squared_numbers)

dictionary = {'a':1,'b':2,'c':3,'d':4}
squared_dictionary = {key: num * num for (key,num) in dictionary.items()}

print(squared_dictionary)

[1, 4, 9, 16, 25]
{'a': 1, 'b': 4, 'c': 9, 'd': 16}

### 8. Enumerate related items of same concept via Enum

An Enum is a set of symbolic names bound to unique values. They are similar to global variables, but they offer a more useful repr(), grouping, type-safety, and a few other features.

In [22]:
from enum import Enum

class Status(Enum):
    NO_STATUS = -1
    NOT_STARTED = 0
    IN_PROGRESS = 1
    COMPLETED = 2
    
print(Status.IN_PROGRESS.name)
print(Status.COMPLETED.value)
print(Status.NO_STATUS.name)

IN_PROGRESS
2
NO_STATUS

### 9. Repeat strings without lopping

In [23]:
name = "vinod"
print(" ",name * 5)

  vinodvinodvinodvinodvinod

#### 10. Compare 3 numbers just like in Math

In [24]:
x=3 
print(1 < x < 10)

True

#### 11. Merge dictionaries in a single readable line

In [49]:
first_dictionary = {'name':'Vinod','location':'Delhi'}
second_dictionary = {'name':'Rahul','surname':'Awasare','location':'Indore'}

#result = first_dictionary | second_dictionary

print(first_dictionary.update(second_dictionary))
print(first_dictionary)

None
{'name': 'Rahul', 'location': 'Indore', 'surname': 'Awasare'}

#### 12. Find the index of an element in a tuple

In [55]:
books = ('Atomic habit','ego is a enemy','outliers','mastery')
print(books.index('outliers'))

2

#### 13. Convert a string into a list of strings

In [61]:
import ast

def string_to_list(str1):
    return ast.literal_eval(str1)

str1 = "[[1,2,3],[5,4,7]]"
my_list = string_to_list(str1)
print(my_list)

[[1, 2, 3], [5, 4, 7]]

#### 14. Avoid trivial mistakes by using named parameters

In [70]:
def subtract(a,b):
    return a-b
    
print((subtract(a=1,b=3)),(subtract(b=3,a=1)),sep='@')
print(1_000_000)

-2@-2
1000000

#### 15. Slice a string using a step function

In [24]:
my_string = "This ip just a sentence"
print(my_string[0:5])
print(my_string[0:10])
# Three step forward
print(my_string[0:10:3])
# two step forward
print(my_string[10:0:-2])

This
This ip ju
Tspu
sjp i

#### 16. Difference between == and "is"

In [32]:

f_list = [1,2,4]
s_list = [1,2,4]

print(f_list == s_list)


print(f_list is s_list) # False bcoz different object in memory

t_list = f_list

print(t_list is f_list) # True bcoz both point to same object in memory

# unique id of variable
print(id(1))
print(id("vinod"))

True
False
True
140723920544160
2177517929840

#### 17. Integers, floats, strings, booleans, sets, and tuples are immutable

In [39]:
number = 1
print(id(number)) # 140723920544160
print(id(1)) # 140723920544160

number = 3
print(id(number)) # 140723920544224
print(id(1)) # 140723920544160

name ="vinod"
print(id(name)) # 2177511814832

name ="rahul"
print(id(name)) # 2177508312304

140723920544160
140723920544160
140723920544224
140723920544160
2177507339632
2177508312304

#### 18. Lists, sets, and dictionaries are mutable

In [ ]:
cities = ["delhi","bhopal","indore"]
print(id(cities)) # 2177523468936

cities.append("mumbai")
print(id(cities)) # 2177523468936

2177523468936
2177523468936

#### 18. You can turn a set into an immutable set

In [51]:
my_set = frozenset(['a','b','c'])
print(id(my_set))

2177526601992